#
# Fingerprint driver configuration
#

menuconfig INPUT_FINGERPRINT
	bool "Fingerprints"
	help
	  Say Y here, and a list of supported fingerprints will be displayed.
	  This option doesn't affect the kernel.
	  If unsure, say Y.

if INPUT_FINGERPRINT

config FINGERPRINT_FPC1020
	bool "FPC 1020 Driver"
	default n
	help
	  This is a FPC 1020 chipset Driver.

source "drivers/input/fingerprint/elan/Kconfig"

endif
