#
# Near Field Communication (NFC) devices
#

config NFC_SEC
	bool "Samsung NFC driver"
	default y
	help
	  SAMSUNG NFC Driver.
	  This driver provides support for SAMSUNG NFC products.
	  You should select your NFC product and interface.

	  Say Y here to compile support for SAMSUNG NFC driver into the
	  kernel.
